body {
  background-color: #EEE;
  font-family: cursive;
  font-size: 14px;
}

table {
  border-collapse: collapse;
}

td {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}


#game, .button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tile,.colHints,.lineHints,.color:not(.selectedColor),.puzzlink,#puzzle-title,#header .button {
  cursor: pointer;
}


/* --- Grid --- */

#grid table {
  background-color: #EEE;
  background-image:
    linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD), 
    linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD);
  background-size:12px 12px;
  background-position:0 0, 6px 6px;
}

.colHints, .lineHints, #gridcorner {
  background-color: #EEE;
}

td:nth-child(2n).colHints {
  background-image: linear-gradient(180deg, #BBB, #EEE);
}

tr:nth-child(2n) td.lineHints {
  background-image: linear-gradient(90deg, #BBB, #EEE);
}

.tile {
  min-width: 24px;
  height: 24px;
  text-align: center;
  transition: background-color 0.5s;
}

.highlight {
  background-image: repeating-linear-gradient(45deg,
    rgba(0,0,0,0.1), rgba(0,0,0,0.1) 3px,
    rgba(255,255,255,0.1) 3px, rgba(255,255,255,0.1) 6px);
}

.tile, .colHints {
  border-right: 1px solid #BBB;
  border-left: 1px solid #BBB;
}

.tile, .lineHints {
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}

#grid td:nth-child(5n+1) {
  border-right: 1px solid black;
}

#grid tr:nth-child(5n+1) td {
  border-bottom: 1px solid black;
}

.crossed:after {
  content: '\2716';
}


/* --- Cursor and Highlighted blocks --- */

#rowcursor, #colcursor, .rowblock, .colblock {
  pointer-events: none;
  border-style: solid;
}

#rowcursor, #colcursor {
  border-color: #FB0;
  z-index: 1;
}

#rowcursor {
  border-width: 2px 0px;
}

#colcursor {
  border-width: 0px 2px;
}

.rowblock, .colblock {
  z-index: 2;
  border-color: black;
  border-width: 1px;
}

.rowblock span, .colblock span {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 10px;
}

.rowblock span {
  bottom: 0px;
}

.colblock span {
  right: 0px;
}


/* --- Hints --- */

.lineHints {
  text-align: right;
}

.colHints {
  vertical-align: bottom;
}

.lineHints .hint {
  display: inline-block;
}

.colHints .hint {
  display: block;
  clear: right;
}

.hint {
  min-width: 20px;
  height: 20px;
  text-align: center;
  font-weight: normal;
}

.validHint {
  color: #8A8;
}

.invalidHint {
  color: red;
}


/* --- Canvas --- */

#canvas {
  position: fixed;
  z-index: 2;
  top: 26px;
  left: 8px;
  background-color: #DDD;
}

#canvas, #colors td, .selected {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}


/* --- Color Picker --- */

#game {
  float: left;
  transition: opacity 0.5s;
}

#colors {
  float:right;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}

.color {
  width: 50px;
  height: 50px;
}

.selectedColor {
  border: 5px solid black;
}

.validColor:after {
  content: '\2714';
  color: green;
}

.invalidColor:after {
  content: '\2716';
  color: red;
}

.validColor:after, .invalidColor:after {
  font-size: 18px;
}

.validColor:after, .invalidColor:after, .crossed:after {
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}


/* --- Menu --- */

body {
  margin-top: 24px;
}

#header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-bottom: 1px solid white;
  overflow: hidden;
}

#header div {
  display: inline-block;
  padding: 1px 8px;
  margin: 0px 8px;
}

#header span {
  color: #bcf;
}

#header .button {
  font-weight: bold;
  border: 1px solid transparent;
  padding: 0px 4px;
}

#header .button:hover {
  border: 1px solid white;
}

#chrono {
  display: block;
  float: right;
}

#cheat-count {
  color: red;
}


/* --- Boxes --- */

.box {
  display: flex;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 80px;
  margin-left: -200px; /* Half of the width */
  margin-top: -40px; /* Half of the height */
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: -2px 4px 10px 2px black;
  background-color: rgba(200, 220, 250, 0.9);
  transition: opacity 0.5s;
  padding: 8px;
  border-radius: 8px;
}


/* --- Puzzle list --- */

#puzzles {
  top: 10%;
  height: auto;
  margin-top: 0;
  display: block;
}

#puzzles button {
  display: block;
  margin: 12px auto;
}

#puzzles ul {
  padding: 0px;
}

#puzzles li {
  list-style-type: none;
  padding: 0px 10px;
  color: #014;
}

.puzzlink:hover {
  background-color: #bcd;
}

